* {
    box-sizing: border-box;
}
:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --font-family: 'Fraunces', serif;
    --font-familyM: 'Montserrat', sans-serif;
    --Mobile: 375px;
    --Desktop: 1440px;
    --Font-size-p: 14px;
}
body {
    background-color: var(--Cream);
}
.container {
    width: 400px;
    height: 750px;
    margin: 0px auto;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    display: grid;
    justify-content: center;
    flex-wrap:wrap;
    background-color: var(--White);
    border-radius: 4%;
    grid-template-rows: 280px 30px 150px auto auto auto auto;
    grid-template-areas: "im" "per" "gab" "des" "new" "old" "car";

}
.pic-mob {
    grid-area: im;
    width: 400px;
    border-radius: 5%;
}
.pic-desk {
    display: none;
    grid-area: imd;
    width: 400px;
    height: 600px;
    border-radius: 5%;
}
.perfume {
    grid-area: per;
    font-family: var(--font-familyM);
    color: var(--Dark-grayish-blue);
    margin: 25px;
}

.gabrielle {
    grid-area: gab;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    margin-left: 20px;
    
}
.description {
    grid-area: des;
    font-size: 14px;
    font-family: var(--font-familyM);
    font-weight: 400;
    margin-left: 20px;
    margin-right: 30px;
    line-height: 1.7rem;
    color: var(--Dark-grayish-blue);
    
    
}
.new-price {
    grid-area: new;
    color: var(--Dark-cyan);
    font-family: var(--font-family);
    font-size: 45px;
    font-weight: 700;
    margin-left: 25px;
}

.old-price {
    grid-area: old;
    display: inline-block;
    font-size: 18px;
    margin-left: 25px;
    text-decoration: line-through;
    color: var(--Dark-grayish-blue);
}

 .cart {
    grid-area: car;
    background-color: var(--Dark-cyan);
    width: 261px;
    height: 60px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px; 
    margin-left: 50px;
    border-radius: 10px;
    position: relative;
}
.icon {
    position: absolute;
    left: 55px;
    top: 21px;
}
.cart::before {
    content: "Add to Cart";
    color: white;
    font-size: 18px;
    font-family: var(--font-familyM);
    margin-left: 15px;
    
}

/* active status */
.cart:hover {
    content: "";
    filter: brightness(0.70);
    cursor: pointer;
}

/* responsive to desktop */
 @media (min-width:1440px){
    
    .container {
        width: 800px;
        height: 600px;
        grid-template-rows:0px 220px 190px auto auto auto auto;
        grid-template-columns: auto 25px 1fr 60px;
        grid-template-areas:". imd per" ". imd gab" ". imd des" ". imd new" ". imd old" ". imd car" ;
    }

    .pic-desk {
        display: block;
    }
    .pic-mob {
        display: none;
    }
    .description {
        font-size: 18px;
        font-weight: 400;
    }
    .gabrielle {
        margin-top: 15px;
        font-size: 27px;
    }
    .cart {
        margin-top: 25px;
    }

}
